  .announcementsSection {
    margin-bottom: 20px;
  }
  
  .announcementCards {
    display: flex;
    overflow-x: auto;
  }
  
  .announcementCard {
    background-color: #ffffff;
    border: 3px solid #DD5E89;
    border-radius: 16px; 
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .boxTitle {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .subheader {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6px;
  }
  
  .announcementCard p {
    min-height: 40px;
  }

  .announcementContent {
    margin-top: 10px;
  }

  .announcementDivider {
    border-top: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 4px;
  }
  
  .profilePhoto {
    width: 40px;
    height: 40px;
    border-radius: 22%;
    margin-right: 10px; 
  }

  .announcementText {
    font-weight: 600; 
    color: #DD5E89;
  }