.navContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
    padding-top: 12px;
    border-top: 1px solid #00000010;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 60px;
}