.navContainer {
    position: fixed;
    display: flex;
    justify-content: space-around; 
    padding: 12px 0;
    border-top: 1px solid #00000010;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.98); 
    z-index: 1000; /* Ensure bottom nav bar appears above other content */
  }